.listagem{
    max-width: 100vw;
    max-height: 55vh;
    overflow-y: scroll;
    padding: 20px;
}

.listagem::-webkit-scrollbar{
    width: 5px;
}

.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #fff;
    padding: 10px 5px;
    cursor: pointer;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    min-width: 70px;
    box-shadow: rgba(100,100,111,0.2);
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span{
    padding-right: 20px;
}

.listagem .pokemon.ativo{
    background-color: #fa6668;
}

.listagem .regiao h1{
    text-align: center;
    font-size: 40pt;
    margin: 3px 0px;
}
